{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}
    <p>Post List</p>
    <div>
        {% for post in posts %}
        <div>
            <h3>{{post.title}}</h3>
            {% if post.user %}
                {% if 'user' in post.user.username %}
                    <h3>작성자 : {{ post.user.last_name }} {{post.user.first_name }}</h3>
                {% else %}
                    <h3>작성자 : {{ post.user }}</h3>
                {% endif %}
            {% else %}
                <h3>작성자 : 알 수 없음</h3>
            {% endif %}

            {{post.summary}}
            <a href="{%url 'main:detail' post.id %}">...자세히</a>
            <br>
        </div>
        {%endfor%}
    </div>
{% else %}
{% endif %}
{% endblock %}
