{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/project3.css' %}">
{% block content %}

{% if user.is_authenticated %}
    <h3 class="postlist"><b>Post List</b></h3>
    <div>
        {% for post in posts %}
        <div>
            {% if post.image %}
                <div class="post_image">
                    <div class="image_div">
                        <a href="{%url 'main:detail' post.id %}"><img class="images" src="{{ post.image.url }}" alt="사진" height="400px" width="400px"></a>
                    </div>
                </div>
            {% else %}
                <a href="{%url 'main:detail' post.id %}"><h3>{{post.title}}</h3></a>
            {% endif %}
            <br>
        </div>
        {%endfor%}
    </div>
{% else %}
{% endif %}
{% endblock %}
